<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>THE blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        {% block body %}
        <h1 class="alert alert-danger">There are mistakes in the form :(</h1>

        <div class="well">
            {{ include('new.html.twig') }}
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>