<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Create article{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <h1 class="text-danger">Une erreur est survenue</h1>

        <div class="well">
            {{ include('createForm.html.twig') }}
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>