{% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" style="text-align: center;" role="navigation">
                    <div class="container" style="display: inline;">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('home') }}">
                                Un blog magnifique
                            </a>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}