{% block header %}
            <header style="position: fixed;top:0;width: 100%;border-bottom: 1px solid #938dac; background-color: #938dac;">
                <div class="navbar navbar-default navbar-static-top" style="text-align: center;" role="navigation">
                    <div class="container" style="display: inline;">
                        <div class="navbar-header">
                            <a class="navbar-brand" style="color: white; font-weight: bold;" href="{{ path('home') }}">
                                Un blog magnifique
                            </a>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}