<header>
    <style type="text/css">
        a {
            color: #000000;
            text-decoration: none;
        }

        a:hover {
            color: #1F1F1F;
            text-decoration: none;
        }

        .subtitle {
            color: #7E7E7E;
        }

    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">ValTom's Articles</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/tag">Tags</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/blogposts">Add article</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tag/add">Add tag</a>
                </li>
            </ul>
        </div>
    </nav>
</header>