{% extends 'base.html.twig' %}

{% block title %}Create a post{% endblock %}

{% block body %}

    <div class="text-center">
    <h1>Bienvenue sur le blog de Gautier & Henri</h1>

    <h3> Il y a actuellement {{ posts|length }}
        {% if posts|length > 1 %} articles {% else %} article {% endif %}
         sur le blog</h3>
    </div>

    {% for post in posts %}
        <br>
        <div class="row">
            <div class="col-2">
                <img src="https://loremflickr.com/300/300" alt="..." class="img-thumbnail">
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">{{ post.title }}</h5>
                    <div class="card-body">
                        <p class="card-text">{{ post.subtitle }}</p>
                        <a href="/{{ post.id }}" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>

        </div>

    {% endfor %}
{% endblock %}