{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    <h1 class="text-center mb-3">Mon blog</h1>
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for article in articles %}
        {% if loop.index == 1 or (loop.index-1) % 2 == 0 %}
            <div class="card-deck mb-3">
        {% endif %}
        {{ include('article/article_card.html.twig', { 'article': article }) }}
        {% if loop.index % 2 == 0 %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}